@{
    ViewBag.Title = "回收发票";
}

<style type="text/css">
    html {
        -webkit-text-size-adjust: none;
    }

    .NormalTabItem {
        font-family: 'Microsoft YaHei';
        font-size: 12px;
        vertical-align: bottom;
        margin: 3px;
        cursor: pointer; /*padding:5px;*/
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #CCCCCC;
        float: left;
    }

    .SelectTabItem {
        font-family: 'Microsoft YaHei';
        font-size: 12px;
        vertical-align: bottom;
        margin: 3px;
        cursor: pointer; /*padding:5px;*/
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #5CB85C;
        float: left;
    }

    .input_date {
        width: 100%;
        border: 0;
        outline: 0;
        -webkit-appearance: none;
        background-color: transparent;
        font-size: inherit;
        color: inherit;
        height: 14px;
        line-height: 14px;
    }
    /*李经理*/
    @@media screen and (min-width: 800px) {
        #InputBillNo {
            width: 76% !important;
        }
    }
    /*我的电脑和丹丹的*/
    @@media screen and (min-width: 1320px) {
        #InputBillNo {
            width: 67% !important;
        }
    }
    /*公司同事*/
    @@media screen and (min-width: 1600px) {
        #InputBillNo {
            width: 56% !important;
        }
    }
    /*陆哥电脑*/
    @@media screen and (min-width: 1700px) {
        #InputBillNo {
            width: 49% !important;
        }
    }
    /*何奕电脑*/
    @@media screen and (min-width: 2000px) {
        #InputBillNo {
            width: 43% !important;
        }
    }
</style>

<script>
    $(function () {
        GetALLAreaList();
    })

    function quickHandleBill(billNo) {
        var $billNo = null;
        var $MissBill = 0;
        if (billNo) {
            billNo = billNo.toUpperCase();
        }
        for (var i = 0; i < uiDatas.length; i++) {
            if (uiDatas[i].BillNo == billNo) {
                $billNo = uiDatas[i].BillNo;
                $MissBill = uiDatas[i].MissBill == "已完结" ? 1 : 0;
                break;
            }
        }
        if ($billNo) {
            $.ajax({
                url: "@Url.Content("~/RecoverBill/RecoverBill/")",
                data: { BillNo: $billNo },
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                type: "GET",
                success: function (result) {
                    if (result == "Success") {
                        submitMessageShow("成功!");
                        if ($("#InputBillNo").val()) {
                            GetReportData();
                        }
                        else {
                            tagClick(null);
                        }
                    }
                    else {
                        submitMessageShow("失败!", "error");
                    }
                }
            });
        }
        else {
            submitMessageShow("此单据不存在!", "error");
        }
    }


    function RecoverBill(BillNo, Type) {
        if (Type == "1") {
            submitMessageShow("该单发票已被回收!", "error");
            return;
        }
        $(".weui_btn_dialog").unbind('click');
        var $dialog = $('#dialogMyBill');
        $dialog.show();
        $dialog.find('.weui_btn_dialog').one('click', function () {
            $dialog.hide();
            $("body").css("overflow", "auto");
            jinzhi = 1;
            if ($(this).text() == "确定") {
                //回收单据    
                $.ajax({
                    url: "@Url.Content("~/RecoverBill/RecoverBill/")",
                    data: { BillNo: BillNo },
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    type: "GET",
                    success: function (result) {
                        if (result == "Success") {
                            submitMessageShow("成功!");
                            tagClick(null);
                        }
                        else {
                            submitMessageShow("失败!", "error");
                        }
                    }
                });
                }
        });
            $("body").css("overflow", "hidden");
            jinzhi = 0;
        }

        function RetrunString(type) {
            if (type == "0") {
                return "未追回";
            }
            else if (type == "1") {
                return "已完结";
            }
        }

        function GetReportData() {
            $("#loadingToast").show();
            var Area = $("#InDepartment").val();
            var _Area = "";
            if (Area != null) {
                for (var i = 0; i < Area.length; i++) {
                    _Area += Area[i] + ",";
                }
            }

            $.ajax({
                url: "@Url.Content("~/RecoverBill/GetMissBill/")",
                data: { Type: $("#lunchBegins").find("option:selected").attr("val"), CompanyCode: $("#MyCompanycode").find("option:selected").attr("val"), IsBelong: $("#IsBelong").find("option:selected").attr("val"), CodeList: _Area, BillNo: $("#InputBillNo").val(), TimeValue1: $("#AccountTime1").val(), TimeValue2: $("#AccountTime2").val() },
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                type: "GET",
                success: function (result) {
                    $("#loadingToast").hide();
                    $("#RecoverBill").show();
                    if (result) {
                        result = JSON.parse(result);
                        var newlist = new Array();
                        for (var i = 0; i < result.length; i++) {
                            var model = { BillNo: "", Onwer: "", TotalMoney: "", CreateTime: "", MissBill: "", Department: "" };
                            model.BillNo = result[i].BillNo;
                            model.Owner = result[i].Owner;
                            model.TotalMoney = result[i].TotalMoney;
                            model.CreateTime = result[i].StringTime;
                            model.MissBill = RetrunString(result[i].MissBill);
                            model.Department = result[i].PersonInfo.Department
                            if (result[i].MissBill == "0") {
                                model.Operation = "<a onclick=\"RecoverBill('" + result[i].BillNo + "','" + result[i].MissBill + "')\">完结发票</a>&nbsp&nbsp&nbsp<a onclick=\"showDialog('" + result[i].BillNo + "','付款通知书')\">查看</a>";
                            }
                            else {
                                model.Operation = "<a style=\"color:#AAAAAA;\">完结发票</a>&nbsp&nbsp&nbsp<a onclick=\"showDialog('" + result[i].BillNo + "','付款通知书')\">查看</a>";
                            }
                            newlist.push(model);
                        }
                        $('#table').bootstrapTable({
                            data: newlist
                        });
                        uiDatas = newlist;
                        $('#table').bootstrapTable('refreshOptions', {
                            data: newlist,
                            quickConfirm: true,
                            onQuickConfirm: quickHandleBill
                        });
                    }
                }
            })
        }


        function GetALLAreaList() {
            $.ajax({
                url: "@Url.Content("~/Report/GetALLAreaList/")",
                data: {},
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                type: "GET",
                async: false,
                success: function (result) {
                    if (result) {
                        result = JSON.parse(result);
                        for (var i = 0; i < result.length; i++) {
                            $("<option value=\"" + result[i].CODE + "\">" + result[i].NAME + "</option>").appendTo("#KpiArea");
                        }
                        $("#InDepartment").selectpicker("refresh");
                    }
                }
            })
        }

        function DownLoadFile() {

            $.ajax({
                url: "@Url.Content("~/RecoverBill/DownLoadFile/")",
                data: {},
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                type: "GET",
                async: false,
                success: function (result) {
                    result = JSON.parse(result);
                    if (result.error == "1") {
                        submitMessageShow(result.msg, "error");
                    }
                    else {
                        var src_remoute = "http://" + "@this.Request.Url.Host" + "@Request.ApplicationPath" + "/Upload/ExcelDownLoad/" + result.data;
                        window.location.href = src_remoute;
                        submitMessageShow(result.msg);
                    }
                }
            })
        }
        function BatchRecover() {
            var model = $("#table").bootstrapTable('getSelections');
            if (model == undefined || model.length <= 0 || model[0].BillNo == undefined) {
                submitMessageShow("请勾选需要批量回收的单据!", "error");
                return false;
            }

            $(".weui_btn_dialog").unbind('click');
            var $dialog = $('#dialogMyBill');
            $dialog.show();
            $dialog.find('.weui_btn_dialog').one('click', function () {
                $dialog.hide();
                $("body").css("overflow", "auto");
                jinzhi = 1;
                if ($(this).text() == "确定") {
                    for (var i = 0; i < model.length; i++) {
                        //回收单据    
                        $.ajax({
                            url: "@Url.Content("~/RecoverBill/RecoverBill/")",
                            data: { BillNo: model[i].BillNo },
                            contentType: "application/json; charset=utf-8",
                            datatype: "json",
                            type: "GET",
                            success: function (result) {
                            }
                        });
                    }
                    submitMessageShow("成功!");
                    if ($("#InputBillNo").val()) {
                        GetReportData();
                    }
                    else {
                        tagClick(null);
                    }
                }
            });
            $("body").css("overflow", "hidden");
            jinzhi = 0;
        }

</script>

<div class="hd">
    <h2 class="page_title">回收单据</h2>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-md-3">
        <div style="width: 90px; font-size: 12px; text-align: center; float: left; vertical-align: bottom; padding-top: 7px;">单据类型:</div>
        <div class="form-group">
            <select id="lunchBegins" class="selectpicker bs-select-hidden" data-live-search="true" data-live-search-style="begins" title="Please select a lunch ...">
                <option class="bs-title-option" val="0">未追回</option>
                <option val="0,1">全部</option>
                <option val="0">未追回</option>
                <option val="1">已追回</option>
            </select>
        </div>
        <div class="col-md-12" style="clear: both; border-top: #cccccc 0px dotted; overflow: hidden; height: 1px; margin-top: 0px; margin-bottom: 5px;"></div>
    </div>

    <div class="col-md-3">
        <div style="width: 90px; font-size: 12px; text-align: center; float: left; vertical-align: bottom; padding-top: 7px;">所在公司:</div>

        <div class="form-group" style="float: left; display: block;">
            <select id="MyCompanycode" class="selectpicker bs-select-hidden" data-live-search="true" data-live-search-style="begins" title="Please select a lunch ...">
                <option class="bs-title-option" val="1000">玛丝菲尔</option>
                <option val="1000">玛丝菲尔</option>
                <option val="1300">噢姆公司</option>
                <option val="2000">素公司</option>
                <option val="2100">KRIZIA中国</option>
                <option val="4000">惠州制造公司</option>
            </select>
        </div>
        <div class="col-md-12" style="clear: both; border-top: #cccccc 0px dotted; overflow: hidden; height: 1px; margin-top: 0px; margin-bottom: 5px;"></div>

    </div>

    <div class="col-md-3">
        <div style="width: 90px; font-size: 12px; text-align: center; float: left; vertical-align: bottom; padding-top: 7px;">单据归属:</div>
        <div class="form-group">
            <select id="IsBelong" class="selectpicker bs-select-hidden" data-live-search="true" data-live-search-style="begins" title="Please select a lunch ...">
                <option class="bs-title-option" val="0">片区</option>
                <option val="0,1">全部</option>
                <option val="1">总部</option>
                <option val="0">片区</option>
            </select>
        </div>
        <div class="col-md-12" style="clear: both; border-top: #cccccc 0px dotted; overflow: hidden; height: 1px; margin-top: 0px; margin-bottom: 5px;"></div>
    </div>

    <div class="col-md-3">
        <div style="width: 90px; font-size: 12px; text-align: center; float: left; vertical-align: bottom; padding-top: 7px;">所在部门:</div>

        <div class="form-group" style="float: left; display: block;">

            <select class="selectpicker bs-select-hidden" multiple="" data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" id="InDepartment">
                <optgroup label="" id="KpiArea">
                </optgroup>
            </select>
        </div>
        <div class="col-md-12" style="clear: both; border-top: #cccccc 0px dotted; overflow: hidden; height: 1px; margin-top: 0px; margin-bottom: 5px;"></div>

    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div style="width: 90px; font-size: 12px; text-align: center; float: left; vertical-align: bottom; padding-top: 7px;">输入单号:</div>
        <input type="text" class="form-control" autocomplete="off" placeholder="支持输入多个单号" style="width: 68%" id="InputBillNo">
        <div class="col-md-12" style="clear: both; border-top: #cccccc 0px dotted; overflow: hidden; height: 20px; margin-top: 0px; margin-bottom: 5px;"></div>
    </div>

    <div class="col-md-3" id="BillNo">
        <div style="width: 90px; font-size: 12px; text-align: center; float: left; vertical-align: bottom; padding-top: 7px;">创建时间:</div>


        <input id="AccountTime1" class="weui_input" type="date" style="display: block; width: auto; float: left;">
        <input id="AccountTime2" class="weui_input" type="date" style="display: block; width: auto; float: left;">


        <div class="col-md-12" style="clear: both; border-top: #cccccc 0px dotted; overflow: hidden; height: 1px; margin-top: 0px; margin-bottom: 5px;"></div>

    </div>

    <div class="col-md-3" id="ButtonSearch">
        <a id="ButtonSearch1" href="javascript:GetReportData();" class="weui_btn weui_btn_mini weui_btn_primary" style="margin-left: 21px; margin-top: 4px;">查询</a>
        <a class="weui_btn weui_btn_mini weui_btn_primary" style="margin-left: 11px; margin-top: 4px;" href="javascript:DownLoadFile();">导出</a>
        <a class="weui_btn weui_btn_mini weui_btn_primary" style="margin-left: 11px; margin-top: 4px;" href="javascript:BatchRecover();">批量回收</a>
    </div>
</div>

<div class="row" style="display: none;" id="RecoverBill">
    <div style="margin: 15px;">
        <table id="table"
            data-pagination="true"
            data-search="true"
            data-mobile-responsive="true"
            data-check-on-init="true">
            <thead>
                <tr>
                    <th data-field="CheckStatus" data-checkbox="true"></th>
                    <th data-field="BillNo" data-sortable="true" style="width: 90px;">单号</th>
                    <th data-field="Department" data-sortable="true" style="width: 90px;">所在部门</th>
                    <th data-field="Owner" data-sortable="true">业务人</th>
                    <th data-field="TotalMoney" data-sortable="true">发生金额</th>
                    <th data-field="CreateTime" data-sortable="true">创建日期</th>
                    <th data-field="MissBill" data-sortable="true">发票追回</th>
                    <th data-field="Operation" data-sortable="true">操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="weui_dialog_confirm" id="dialogMyBill" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog" style="height: 130px;">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">完结发票</strong></div>
        <div class="weui_dialog_bd">确认收到所有发票？</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default">取消</a>
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>


@Html.Partial("~/Views/Shared/PublicPrint.cshtml")

<script src="~/Scripts/Bootstrap/js/bootstrap.min.js"></script>
<link href="~/Scripts/Bootstrap/css/bootstrap-table.css" rel="stylesheet" />
<link href="~/Scripts/Bootstrap/css/bootstrap-select.css" rel="stylesheet" />
<script src="~/Scripts/Bootstrap/js/bootstrap-table.js"></script>
<script src="~/Scripts/Bootstrap/js/bootstrap-select.js"></script>
<script src="~/Scripts/Bootstrap/js/bootstrap-table-mobile.js"></script>





